<!DOCTYPE html>
<html>
<head>
<% include ../libcss %>
<% include ../meta %>
</head>
<body>
<% include ../header %>
  <main>
    <div class="container space-sections">
      <div class="row">
        <nav>
          <div class="nav-wrapper green darken-1">
            <div class="col s12">
              <a href="/contatos" class="breadcrumb">Contatos</a>
              <a class="breadcrumb">Detalhes</a>
            </div>
          </div>
        </nav>
      </div>
      <div class="row">
        <div class="col s12 m12 l12">
          <form action="/contato/<%- contato._id %>?_method=delete" method="post">
            <input type="hidden" name="_csrf" value="<%- _csrf %>">
            <p><b>Nome: </b><%- contato.nome %></p>
            <p><b>E-mail: </b><%- contato.email %></p>
            <button class="waves-effect waves-light btn" type="submit">Excluir</button>
            <a href="/contato/<%- contato._id %>/editar" class="waves-effect waves-light btn">Editar</a>
          </form>
        </div>
      </div>
    </div>
  </main>
<% include ../footer %>
<% include ../libjs %>
</body>
</html>